#map_canvas {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	min-height: 100%;
	background: blue;
}
header, #header_wrapper {
	position: absolute;
	top: 0px;
	left: 6%;
	min-height: 100px;
	height: 20%;
	min-width: 500px;
	width: 80%;
}

#header_wrapper {
	background: black;
	opacity: 0.8;
}

#top_options_info, #menu {
	width: 100%;
	min-height: 50px;
	height: 50%;
}

.roundbotom_top {
	-moz-border-radius-bottomright: 15px;
	-webkit-border-bottom-right-radius: 15px;
	border-bottom-right-radius: 15px;
	-moz-border-radius-bottomleft: 13px;
	-webkit-border-bottom-left-radius: 13px;
	border-bottom-left-radius: 13px;
}

#menu p {
	min-width: 123px;
	width: 24.5%;
	height: 37px;
	padding-top: 14px;
	float: left;
	text-align: center;
	color: white;
	cursor: pointer;
}

#menu p:not(:last-child) {
	border-right: inset white 2px;
}

#menu p:hover {
	color: yellow;
}

#menu p:active {
	font-size: smaller;
}

.top_options_info_children {
	width: 33.33333333333333%;
	min-width: 166.6666666666667px;
	height: 50%;
	min-height: 50px;
	float: left;
}

#user_info img {
	width: 50px;
	height: 50px;
	vertical-align: middle;
	float: left;
}

#user_info p {
	font-size: small;
	color: white;
}

#search {
	position: absolute;
	right: 0px;
}

#search_box {
	width: 48%;
	margin-left: 2%;
	margin-top: 3px;
	height: 40px;
	float: left;
	transition: width 2s;
	-moz-transition: width 2s; /* Firefox 4 */
	-webkit-transition: width 2s; /* Safari and Chrome */
	-o-transition: width 2s; /* Opera */
}

#search_box:focus {
	width: 68%;
}
#search_button {
	width: 29%;
	height: 30px;
	padding-top: 11px;
	margin-top: 3px;
	float: left;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
}

#alerts {
	max-width: 590px;
	position: absolute;
	left: 33.33333333333333%;
	-moz-transition: height 2s; /* Firefox 4 */
	-webkit-transition: height 2s; /* Safari and Chrome */
	-o-transition: height 2s; /* Opera */
}

#alerts p {
	padding: 1%;
}

#alerts:hover {
	height: 200px;
	background: #000000;
	opacity: 0.9;
}

#map_error {
	width: 100%;
	color: #000000;
	background: red;
	position: absolute;
	bottom: 0px;
}

#lightbox_back {
	z-index: 10003;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.8;
}

#lightbox_main {
	z-index: 10003;
	position: absolute;
	left: 5%;
	top: 5%;
	width: 90%;
	height: 90%;
	min-height:220px;
	background: gray;
}

#lightbbox_left {
	left: 0px;
	top: 0px;
	position: absolute;
	width: 50%;
	height: 70%;
	float: left;
}

#lightbbox_right {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 50%;
	height: 70%;
	float: left;
}

#lightbbox_bottom1 {
	position: absolute;
	left: 0px;
	bottom: 15%;
	width: 100%;
	height: 15%;
	clear: both;
}

#lightbbox_bottom2 {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 15%;
	clear: both;
}

.checkbox_inputs {
	width: 50%;
	text-align: center;
	float: left;
}

.text_inputs {
	width: 98%;
	height: 31.6%;
	margin: 1%;
	margin-bottom: 0px;
	font-size: xx-large;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#siteDesc {
	margin: 1%;
	height: 98%;
	width: 98%;
	resize: none;
}

.sve_button {
	position: absolute;
	width: 100px;
	height: 100%;
	color: gray;
	background: orange;
	text-align: center;
	cursor: pointer;
	float: left;
	font-size: x-large;
}

.sve_button:active {
	font-size: medium;
}

#save {
	left: 10%;
}

#cancle {
	right: 10%;
}